#canvas {
  position: fixed;
}
#sidebar {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 400px;
  border-left: 1px solid black;
  background-color: #EEE;
  height: 100%;
  padding-left: 12px;
}
#showInfo {
  width: 200px;
  height: 276px;;
  background-color: white; 
  border: 1px solid black;
}
.pixel {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
}
.unmined {
  background-color: #666;
}
